<a href="https://colab.research.google.com/github/humphrjk/Business_Analytics/blob/main/Pandas_Tutorial_3_More_DataFrame_Creations_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas DAta Frame I/O
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#:~:text=The%20pandas%20I%2FO%20API,that%20are%20accessed%20like%20DataFrame.

Import CSV from URL

In [3]:
import pandas as pd
url = 'https://github.com/humphrjk/Business_Analytics/files/9398066/weather_data.csv'
df = pd.read_csv(url)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

Import Excel Sheet

In [ ]:
df.pd.read_excel("weather_data.xlsx", "Sheet1")

Dictionary

In [6]:
weather_data ={
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed':[6,7,8],
    'event':['Ranin','Sunny','Snow']
}
df = pd.DataFrame(weather_data)

In [7]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Ranin
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          8   Snow

Tuple

In [11]:
weather_data =[
    ('1/12017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,8,'Snow')
]
df = pd.DataFrame(weather_data,columns=["day","temperature","windspeed","event"])
df

        day  temperature  windspeed  event
0   1/12017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          8   Snow

List of Dictionaries

In [18]:
weather_data =[
                {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
                {'day':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
                {'day':'1/3/2017','temperature':28,'windspeed':8,'event':'Snow'}
               ]
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          8   Snow